<section class="section">

        <div class="container-admin-page">

                <div class="main">

                        <div class="text">Hello Admin:</div>
                        <ul class="option">
                                <li><span>Huy Khanh</span></li>
                                <li><span>Admin</span></li>
                                <li><span>Huy Khanh</span></li>
                                <li><span>Admin</span></li>
                        </ul>

                </div>
        </div>
</section>